In [22]:
import numpy as np
import pandas as pd

In [23]:
file_path = '/home/jeremy/Documents/Greater MSP Challenge'
file_name = file_path + '/Historical Data - Prior Dashboard - Color Guides/2015-2019 Dashboard Trends_all.xlsx'

In [24]:
dfs = pd.read_excel(file_name, sheet_name=None, header=None)

In [25]:
dfs

{'Key Indicators':                                                    0                    1   \
 0   About: Note all indicators in this dashboard a...                  NaN
 1                                                 NaN                  NaN
 2                                      Key Indicators                  NaN
 3                                  Dashboard Category              Economy
 4                                     Indicator Title    Yearly Job Growth
 5                  Dashboard Year\n(Data Source Year)   2015\n(12-13 data)
 6        Atlanta-Sandy Springs-Roswell, GA Metro Area                0.027
 7                    Austin-Round Rock, TX Metro Area                0.041
 8           Boston-Cambridge-Newton, MA-NH Metro Area                0.017
 9        Charlotte-Concord-Gastonia, NC-SC Metro Area                0.209
 10      Chicago-Naperville-Elgin, IL-IN-WI Metro Area                0.015
 11         Dallas-Fort Worth-Arlington, TX Metro Area                0.035
 12              Denver-Aurora-Lakewood, CO Metro Area                0.037
 13  Minneapolis-St. Paul-Bloomington, MN-WI Metro ...                0.032
 14                          Pittsburgh, PA Metro Area                0.001
 15     Portland-Vancouver-Hillsboro, OR-WA Metro Area                0.026
 16       San Francisco-Oakland-Hayward, CA Metro Area                0.036
 17             Seattle-Tacoma-Bellevue, WA Metro Area                0.029
 18                                               RANK  (highest to lowest)
 19       Atlanta-Sandy Springs-Roswell, GA Metro Area                    8
 20                   Austin-Round Rock, TX Metro Area                    2
 21          Boston-Cambridge-Newton, MA-NH Metro Area                   10
 22       Charlotte-Concord-Gastonia, NC-SC Metro Area                    1
 23      Chicago-Naperville-Elgin, IL-IN-WI Metro Area                   11
 24         Dallas-Fort Worth-Arlington, TX Metro Area                    5
 25              Denver-Aurora-Lakewood, CO Metro Area                    3
 26  Minneapolis-St. Paul-Bloomington, MN-WI Metro ...                    6
 27                          Pittsburgh, PA Metro Area                   12
 28     Portland-Vancouver-Hillsboro, OR-WA Metro Area                    9
 29       San Francisco-Oakland-Hayward, CA Metro Area                    4
 30             Seattle-Tacoma-Bellevue, WA Metro Area                    7

                     2                   3                   4   \
 0                  NaN                 NaN                 NaN
 1                  NaN                 NaN                 NaN
 2                  NaN                 NaN                 NaN
 3                  NaN                 NaN                 NaN
 4                  NaN                 NaN                 NaN
 5   2016\n(13-14 data)  2017\n(14-15 data)  2018\n(15-16 data)
 6                0.033               0.032               0.032
 7                0.043               0.047               0.033
 8                 0.02               0.023               0.021
 9                0.036                0.04               0.037
 10               0.017               0.019               0.014
 11               0.034               0.036               0.027
 12               0.039               0.038               0.028
 13               0.016                0.02               0.017
 14              -0.001               0.003              -0.001
 15               0.031               0.035               0.029
 16               0.035                0.04               0.033
 17               0.029               0.029               0.032
 18                 NaN                 NaN                 NaN
 19                   6                   7                   5
 20                   1                   1                   2
 21                   9                   9                   9
 22                   3                   2                   1
 23                  10                  11                  11
 24                   5                   5                   8
 25                   2                   4                   7
 26                  11                  10                  10
 27                  12                  12                  12
 28                   7                   6                   6
 29                   4                   2                   2
 30                   8                   8                   4

                     5                                6                  7   \
 0                  NaN                              NaN                NaN
 1                  NaN                              NaN                NaN
 2                  NaN                              NaN                NaN
 3                  NaN                          Economy                NaN
 4                  NaN  Employment Gap (White-Of Color)                NaN
 5   2019\n(16-17 data)                2015\n(2013 data)  2016\n(2014 data)
 6                0.028                            0.055              0.067
 7                0.033                            0.047              0.064
 8                0.014                            0.072               0.09
 9                0.028                           -0.001             -0.013
 10               0.009                            0.123              0.118
 11               0.026                            0.056               0.06
 12               0.021                            0.077              0.086
 13               0.017                             0.13               0.13
 14               0.007                            0.117              0.137
 15               0.027                            0.036               0.04
 16               0.022                            0.065               0.06
 17               0.025                            0.065              0.051
 18                 NaN              (lowest to highest)                NaN
 19                   2                                4                  7
 20                   1                                3                  6
 21                  10                                8                  9
 22                   2                                1                  1
 23                  11                               11                 10
 24                   5                                5                  4
 25                   8                                9                  8
 26                   9                               12                 11
 27                  12                               10                 12
 28                   4                                2                  2
 29                   7                                6                  4
 30                   6                                6                  3

                    8                  9   ...  \
 0                 NaN                NaN  ...
 1                 NaN                NaN  ...
 2                 NaN                NaN  ...
 3                 NaN                NaN  ...
 4                 NaN                NaN  ...
 5   2017\n(2015 data)  2018\n(2016 data)  ...
 6               0.053              0.037  ...
 7               0.051               0.05  ...
 8               0.079              0.076  ...
 9               0.041              0.049  ...
 10              0.105              0.099  ...
 11              0.044              0.043  ...
 12              0.083              0.076  ...
 13                0.1              0.113  ...
 14              0.125              0.127  ...
 15              0.027              0.043  ...
 16              0.058              0.056  ...
 17              0.054              0.052  ...
 18                NaN                NaN  ...
 19                  5                  1  ...
 20                  4                  5  ...
 21                  8                  8  ...
 22                  2                  4  ...
 23                 11                 10  ...
 24                  3                  3  ...
 25                  9                  8  ...
 26                 10                 11  ...
 27                 12                 12  ...
 28                  1                  2  ...
 29                  7                  7  ...
 30                  6                  6  ...

                                      66                67                68  \
 0                                   NaN               NaN               NaN
 1                                   NaN               NaN               NaN
 2                                   NaN               NaN               NaN
 3                            Livability               NaN               NaN
 4   Percent of Cost-Burdened Households               NaN               NaN
 5                      2015 (2013 Data)  2016 (2014 Data)  2017 (2015 Data)
 6                                 0.379             0.381             0.358
 7                                 0.385             0.377             0.369
 8                                 0.398             0.395             0.398
 9                                 0.345              0.34             0.337
 10                                0.411             0.408             0.391
 11                                0.356             0.368             0.359
 12                                0.377             0.358             0.351
 13                                0.327             0.327             0.315
 14                                0.308             0.308             0.304
 15                                0.404             0.408             0.386
 16                                0.443             0.428             0.419
 17                                0.409             0.387             0.367
 18                  (lowest to highest)               NaN               NaN
 19                                    6                 7                 5
 20                                    7                 6                 8
 21                                    8                 9                11
 22                                    3                 3                 3
 23                                   11                10                10
 24                                    4                 5                 6
 25                                    5                 4                 4
 26                                    2                 2                 2
 27                                    1                 1                 1
 28                                    9                10                 9
 29                                   12                12                12
 30                                   10                 8                 7

                   69                70  \
 0                NaN               NaN
 1                NaN               NaN
 2                NaN               NaN
 3                NaN               NaN
 4                NaN               NaN
 5   2018 (2016 Data)  2019 (2017 Data)
 6              0.348             0.345
 7              0.356             0.349
 8              0.375             0.373
 9              0.305             0.302
 10             0.377             0.371
 11             0.344             0.342
 12             0.361             0.361
 13             0.303             0.297
 14             0.294             0.291
 15             0.372             0.377
 16             0.409             0.401
 17             0.365             0.369
 18               NaN               NaN
 19                 5                 5
 20                 6                 6
 21                10                10
 22                 3                 3
 23                11                 9
 24                 4                 4
 25                 7                 7
 26                 2                 2
 27                 1                 1
 28                 9                11
 29                12                12
 30                 8                 8

                                                   71                 72  \
 0                                                NaN                NaN
 1                                                NaN                NaN
 2                                                NaN                NaN
 3                                         Livability                NaN
 4   Annual Change in Median Apartment Rent (Overall)                NaN
 5                                               2015  2016\n(2014 data)
 6                                                NaN              0.037
 7                                                NaN              0.063
 8                                                NaN              0.033
 9                                                NaN              0.059
 10                                               NaN              0.032
 11                                               NaN              0.045
 12                                               NaN               0.08
 13                                               NaN               0.03
 14                                               NaN              0.044
 15                                               NaN              0.041
 16                                               NaN              0.059
 17                                               NaN              0.039
 18                               (lowest to highest)                NaN
 19                                               NaN                  4
 20                                               NaN                 11
 21                                               NaN                  3
 22                                               NaN                 10
 23                                               NaN                  2
 24                                               NaN                  8
 25                                               NaN                 12
 26                                               NaN                  1
 27                                               NaN                  7
 28                                               NaN                  6
 29                                               NaN                  9
 30                                               NaN                  5

                    73                  74                 75
 0                 NaN                 NaN                NaN
 1                 NaN                 NaN                NaN
 2                 NaN                 NaN                NaN
 3                 NaN                 NaN                NaN
 4                 NaN                 NaN                NaN
 5   2017\n(2015 data)  2018 \n(2016 data)  2019\n(2017 data)
 6               0.034               0.052              0.044
 7               0.064               0.047              0.033
 8               0.055               0.026              0.035
 9               0.035               0.037               0.03
 10              0.022               0.038              0.027
 11              0.045                0.03              0.062
 12              0.098               0.086              0.051
 13              0.044               0.021              0.057
 14              0.017               0.013              0.037
 15              0.061               0.081              0.069
 16              0.068               0.083              0.055
 17              0.071               0.049              0.089
 18                NaN                 NaN                NaN
 19                  3                   9                  6
 20                  9                   7                  3
 21                  7                   3                  4
 22                  4                   5                  2
 23                  2                   6                  1
 24                  6                   4                 10
 25                 12                  12                  7
 26                  5                   2                  9
 27                  1                   1                  5
 28                  8                  10                 11
 29                 10                  11                  8
 30                 11                   8                 12

 [31 rows x 76 columns],
 'Economy':                                                    0   \
 0                                            Economy
 1                                                 NaN
 2                                           ESTIMATES
 3        Atlanta-Sandy Springs-Roswell, GA Metro Area
 4                    Austin-Round Rock, TX Metro Area
 5           Boston-Cambridge-Newton, MA-NH Metro Area
 6        Charlotte-Concord-Gastonia, NC-SC Metro Area
 7       Chicago-Naperville-Elgin, IL-IN-WI Metro Area
 8          Dallas-Fort Worth-Arlington, TX Metro Area
 9               Denver-Aurora-Lakewood, CO Metro Area
 10  Minneapolis-St. Paul-Bloomington, MN-WI Metro ...
 11                          Pittsburgh, PA Metro Area
 12     Portland-Vancouver-Hillsboro, OR-WA Metro Area
 13       San Francisco-Oakland-Hayward, CA Metro Area
 14             Seattle-Tacoma-Bellevue, WA Metro Area
 15                                               RANK
 16       Atlanta-Sandy Springs-Roswell, GA Metro Area
 17                   Austin-Round Rock, TX Metro Area
 18          Boston-Cambridge-Newton, MA-NH Metro Area
 19       Charlotte-Concord-Gastonia, NC-SC Metro Area
 20      Chicago-Naperville-Elgin, IL-IN-WI Metro Area
 21         Dallas-Fort Worth-Arlington, TX Metro Area
 22              Denver-Aurora-Lakewood, CO Metro Area
 23  Minneapolis-St. Paul-Bloomington, MN-WI Metro ...
 24                          Pittsburgh, PA Metro Area
 25     Portland-Vancouver-Hillsboro, OR-WA Metro Area
 26       San Francisco-Oakland-Hayward, CA Metro Area
 27             Seattle-Tacoma-Bellevue, WA Metro Area

                                1                   2                   3   \
 0                             NaN                 NaN                 NaN
 1   Gross Regional Product Growth                 NaN                 NaN
 2              2015\n(12-13 data)  2016\n(13-14 data)  2017\n(14-15 data)
 3                           0.035                0.04               0.038
 4                            0.06               0.054               0.083
 5                           0.005               0.022               0.044
 6                            0.01               0.025               0.052
 7                          -0.003               0.017               0.025
 8                           0.054               0.046               0.055
 9                           0.013                0.06               0.046
 10                          0.016               0.033               0.018
 11                          0.018               0.035               0.032
 12                         -0.026               0.017               0.038
 13                          0.037               0.051               0.057
 14                          0.029               0.036               0.046
 15            (highest to lowest)                 NaN                 NaN
 16                              4                   5                   8
 17                              1                   2                   1
 18                             10                  10                   7
 19                              9                   9                   4
 20                             11                  11                  11
 21                              2                   4                   3
 22                              8                   1                   5

### Each sheet of the Excel workbook is represented by a key/value pair in dfs

In [26]:
dfs.keys()

dict_keys(['Key Indicators', 'Economy', 'BV', 'Talent', 'Education', 'Infrastructure', 'Environment', 'Livability', 'Vital Stats'])

## The Key Indicators sheet has the stats that appear in the pamphlet.
It also has an extra row, "Dashboard Category", that does not exist in the other sheets. This extra row tells us which sheet the stats are coming from.

The stats on the Key Indicators sheet are doubled up on the other sheets, so we don't need to capture them. The important info to capture is which stats are listed, so when we get to the individual sheets, we know which stats are key indicators.

The remaining sheets represent the data behind each set of stats on the Key Indicators sheet, and additional indicators. They seem to have the same structure, so looping through them will be easier.

In [27]:
dfs['Key Indicators'].loc[[3,4]]

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
3,Dashboard Category,Economy,NaN,NaN,NaN,NaN,Economy,NaN,NaN,NaN,...,Livability,NaN,NaN,NaN,NaN,Livability,NaN,NaN,NaN,NaN
4,Indicator Title,Yearly Job Growth,NaN,NaN,NaN,NaN,Employment Gap (White-Of Color),NaN,NaN,NaN,...,Percent of Cost-Burdened Households,NaN,NaN,NaN,NaN,Annual Change in Median Apartment Rent (Overall),NaN,NaN,NaN,NaN

In [28]:
kpis = dfs['Key Indicators'].loc[[3,4]].dropna(axis='columns')
kpis

,0,1,6,11,16,21,26,31,36,41,46,51,56,61,66,71
3,Dashboard Category,Economy,Economy,Business Vitality,Business Vitality,Talent,Talent,Talent,Education,Education,Infrastructure,Infrastructure,Environment,Environment,Livability,Livability
4,Indicator Title,Yearly Job Growth,Employment Gap (White-Of Color),New Establishments (State Level),Establishments Surviving 5 Years (State Level),Net Migration Of 25-34 Year Olds,Females Aged 16-64 Years Working,Population 25+ with Bachelor's Degree or Higher,3-Year Graduation Rate at 2-Year Institutions ...,6-Year Graduation Rate at 4-Year Institutions ...,"Population Living Within 30 Minutes of 100,000...",Population With Commutes Less Than 30 Minutes,Energy Related Carbon Dioxide Emissions Per Ca...,Electricity Produced From Non-Carbon Sources,Percent of Cost-Burdened Households,Annual Change in Median Apartment Rent (Overall)

### Capture the Dashboard Category and Indicator Title of each indicator.
Store them in a dictionary we can reference later.

In [29]:
kpi_dict = {}
for col in kpis.columns:
    if col == 0:
        continue
    category = kpis[col].iloc[0]
    indicator = kpis[col].iloc[1]
    if category in kpi_dict:
        kpi_dict[category].append(indicator)
    else:
        kpi_dict[category] = [indicator]

kpi_dict

{'Economy': ['Yearly Job Growth', 'Employment Gap (White-Of Color)'],
 'Business Vitality': ['New Establishments (State Level)',
  'Establishments Surviving 5 Years (State Level)'],
 'Talent': ['Net Migration Of 25-34 Year Olds',
  'Females Aged 16-64 Years Working',
  "Population 25+ with Bachelor's Degree or Higher"],
 'Education': ['3-Year Graduation Rate at 2-Year Institutions (State-Level)',
  '6-Year Graduation Rate at 4-Year Institutions (State Level)'],
 'Infrastructure': ['Population Living Within 30 Minutes of 100,000 Jobs By Transit or Walking',
  'Population With Commutes Less Than 30 Minutes'],
 'Environment': ['Energy Related Carbon Dioxide Emissions Per Capita (State Level)',
  'Electricity Produced From Non-Carbon Sources'],
 'Livability': ['Percent of Cost-Burdened Households',
  'Annual Change in Median Apartment Rent (Overall)']}

### The key indicators on the first sheet of the Excel document don't always line up with the key indicators in the pamphlet.

## For the remaining sheets:
### Value in first row/first column is the sheet name/key indicator name (ex: "Economy")
We already have this information from `dfs.keys()`.

### First two rows are headers:
1. Indicator (ex: Gross Regional Product Growth). This is only populated when it changes, NaN otherwise.
2. "ESTIMATES". This is the year for each Indicator, mostly represented as '4-digit year\n(year of data)'.

### Cities show up twice on each sheet--first time with the observation, second time with the rank.
There's a "RANK" row separating the two. This row indicates whether the ranking is "highest to lowest", or "lowest to highest". Capture this.

In [30]:
dfs['Economy']

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,Economy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Gross Regional Product Growth,NaN,NaN,NaN,NaN,Yearly Job Growth,NaN,NaN,NaN,...,Wage Gap (White-Of Color),NaN,NaN,NaN,NaN,Employment Gap (White-Of Color),NaN,NaN,NaN,NaN
2,ESTIMATES,2015\n(12-13 data),2016\n(13-14 data),2017\n(14-15 data),2018\n(15-16 data),2019\n(16-17 data),2015\n(12-13 data),2016\n(13-14 data),2017\n(14-15 data),2018\n(15-16 data),...,2015\n(2013 data),2016\n(2014 data),2017\n(2015 data),2018\n(2016 data),2019 \n(2017 data),2015\n(2013 data),2016\n(2014 data),2017\n(2015 data),2018\n(2016 data),2019 \n(2017 data)
3,"Atlanta-Sandy Springs-Roswell, GA Metro Area",0.035,0.04,0.038,0.044,0.029,0.0267236,0.0329032,0.0324358,0.0320127,...,0.655,0.681818,0.666667,0.659574,0.666667,0.05511,0.0672503,0.0530567,0.0368609,0.0396132
4,"Austin-Round Rock, TX Metro Area",0.06,0.054,0.083,0.055,0.069,0.0408405,0.0427223,0.0466901,0.033,...,0.65,0.62212,0.650759,0.65,0.65625,0.047021,0.063918,0.0511267,0.0503152,0.0341938
5,"Boston-Cambridge-Newton, MA-NH Metro Area",0.005,0.022,0.044,0.011,0.028,0.0168563,0.0202838,0.0228392,0.0205694,...,0.666667,0.6,0.62,0.673077,0.673077,0.0718597,0.0902325,0.0791438,0.076,0.0647034
6,"Charlotte-Concord-Gastonia, NC-SC Metro Area",0.01,0.025,0.052,0.037,0.035,0.209392,0.0363886,0.04,0.0366681,...,0.675676,0.625,0.6875,0.702439,0.714286,-0.001,-0.013,0.0408677,0.0492271,0.0236565
7,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",-0.003,0.017,0.025,0.014,0.015,0.0145957,0.0169556,0.0189012,0.0135039,...,0.613636,0.637363,0.625,0.6,0.6,0.123306,0.118448,0.105498,0.0992639,0.0854895
8,"Dallas-Fort Worth-Arlington, TX Metro Area",0.054,0.046,0.055,0.015,0.039,0.0346941,0.034083,0.0361918,0.0271718,...,0.568182,0.583333,0.583333,0.6,0.6,0.0561441,0.06,0.0443108,0.0429154,0.0468995
9,"Denver-Aurora-Lakewood, CO Metro Area",0.013,0.06,0.046,0.012,0.036,0.0370241,0.0389417,0.0383021,0.0278119,...,0.679612,0.655022,0.638298,0.6,0.653061,0.0773576,0.0861799,0.0834035,0.076,0.0539857
10,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",0.016,0.033,0.018,0.021,0.022,0.0324492,0.0155344,0.0197055,0.0174918,...,0.675002,0.6,0.622222,0.656455,0.666667,0.129689,0.12991,0.100201,0.112934,0.0859343
11,"Pittsburgh, PA Metro Area",0.018,0.035,0.032,0.002,0.037,0.00053215,-0.000707638,0.00257099,-0.00114721,...,0.771429,0.697368,0.707071,0.75,0.6575,0.117018,0.137459,0.124928,0.12735,0.101268
12,"Portland-Vancouver-Hillsboro, OR-WA Metro Area",-0.026,0.017,0.038,0.036,0.03,0.0260157,0.0306144,0.0346902,0.0290607,...,0.666667,0.640704,0.7,0.731707,0.75,0.0361314,0.0403769,0.0270795,0.0429113,0.0276565
13,"San Francisco-Oakland-Hayward, CA Metro Area",0.037,0.051,0.057,0.057,0.034,0.0361838,0.035005,0.04,0.033,...,0.59322,0.59375,0.615385,0.597222,0.6,0.065,0.06,0.0578502,0.0557019,0.0550941
14,"Seattle-Tacoma-Bellevue, WA Metro Area",0.029,0.036,0.046,0.038,0.052,0.0287554,0.0294555,0.0291039,0.032281,...,0.711111,0.721277,0.7,0.744,0.76,0.065,0.0508096,0.0535934,0.0523452,0.0392796
15,RANK,(highest to lowest),NaN,NaN,NaN,NaN,(highest to lowest),NaN,NaN,NaN,...,(highest to lowest),NaN,NaN,NaN,NaN,(lowest to highest),NaN,NaN,NaN,NaN
16,"Atlanta-Sandy Springs-Roswell, GA Metro Area",4,5,8,3,9,8,6,7,5,...,8,3,5,6,5,4,7,5,1,5
17,"Austin-Round Rock, TX Metro Area",1,2,1,2,1,2,1,1,2,...,9,8,6,8,8,3,6,4,5,3
18,"Boston-Cambridge-Newton, MA-NH Metro Area",10,10,7,11,10,10,9,9,9,...,6,9,10,5,4,8,9,8,8,9
19,"Charlotte-Concord-Gastonia, NC-SC Metro Area",9,9,4,5,6,1,3,2,1,...,4,7,4,4,3,1,1,2,4,1
20,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",11,11,11,9,12,11,10,11,11,...,10,6,8,9,10,11,10,11,10,10
21,"Dallas-Fort Worth-Arlington, TX Metro Area",2,4,3,8,3,5,5,5,8,...,12,12,12,9,10,5,4,3,3,6
22,"Denver-Aurora-Lakewood, CO Metro Area",8,1,5,10,5,3,2,4,7,...,3,4,7,9,9,9,8,9,8,7
23,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",7,8,12,7,11,6,11,10,10,...,5,9,9,7,5,12,11,10,11,11
24,"Pittsburgh, PA Metro Area",6,7,10,12,4,12,12,12,12,...,1,2,1,1,7,10,12,12,12,12
25,"Portland-Vancouver-Hillsboro, OR-WA Metro Area",12,11,8,6,8,9,7,6,6,...,6,5,2,3,2,2,2,1,2,2
26,"San Francisco-Oakland-Hayward, CA Metro Area",3,3,2,1,7,4,4,2,2,...,11,11,11,12,10,6,4,7,7,8
27,"Seattle-Tacoma-Bellevue, WA Metro Area",5,6,5,4,2,7,8,8,4,...,2,1,2,2,1,6,3,6,6,4

## Functions

### The year field often has an appended text string, indicating the actual date ranges involved.
Strip that extra text, if necessary.

In [31]:
def cleanup_year(string):
    try:
# split will fail when the value is a lone year (ex: 2015 vs. "2015\n(using 13-14 data)")
# because the lone year is interpreted as an int. Rather than convert that to a string,
# just return it.
        return string.split()[0]
    except:
        return string
    else:
        return string

### Set the Key Indicator to 1 for key indicators.

In [32]:
def set_key_indc(category,indicator,**kwargs):
    my_kpi_dict = kwargs.get('kpi_dict',kpi_dict)
    if category in my_kpi_dict:
        if indicator in kpi_dict[category]:
            return 1
    return 0

### Alteryx logic for deciding Data Type:
```
if abs([Measure Value]) <=1 then 'Percent'
elseif Contains([Indicator Title], 'Cost') then 'Dollar'
elseif Contains([Indicator Title], 'Wage') then 'Dollar'
elseif Contains([Indicator Title], 'Income') then 'Dollar'
elseif Contains([Indicator Title], 'Price') then 'Dollar'
elseif [Dashboard Category] = 'Business Vitality' 
	AND !(Contains([Indicator Title], 'Patent')
	or Contains([Indicator Title], 'Establishment'))
	then 'Dollar'
else 'Numeric'
endif 
```

In [33]:
# This is where we implement Dave's logic from Alteryx.
def calculate_data_type(series):
    if series['Value'] <=1:
        return 'Percent'
    elif any(x in series['Indicator'].lower() for x in ['cost','wage','income','price']):
        return 'Dollar'
    elif (series['Category'] == 'Business Vitality') \
         and not any(x in series['Indicator'].lower() for x in ['patent','establishment']):
        return 'Dollar'
    else:
        return "Numeric"

### Figure out the type of value for each category/indicator.
* Build a small dataframe of unique combos of Category + Indicator, and the max Value for each combo. (I checked--max() ignores NaNs.)
* Convert that dataframe into a dictionary containing Indicator/Data Type pairs.

In [34]:
def build_data_type_df(df):
    this_category = df['Category'].unique()[0]
    df_cat = df.loc[df['Category'] == this_category]
# There is something funky about these two sheets--the .groupby() doesn't behave the same way.
# I found that if I drop category, it works better.
    if this_category in ['Environment','Livability']:
        max_df = pd.DataFrame()
        for this_indicator in df_cat['Indicator'].unique():
            indicator_data_df = df_cat.loc[df['Indicator'] == this_indicator,['Indicator','Value']]
            append_df = indicator_data_df.loc[:,['Indicator','Value']].groupby(['Indicator']).max().reset_index()
            max_df = max_df.append(append_df,ignore_index=True)
# Add back the dropped Category column, so calculate_data_type() works.
        max_df['Category'] = [this_category] * max_df.shape[0]
    else:
        max_df = df.loc[:,['Category','Indicator','Value']].groupby(['Category','Indicator']).max().reset_index()
    max_df['Value'] = max_df['Value'].apply(lambda x: abs(x))
    max_df['Data_Type'] = max_df.apply(lambda row: calculate_data_type(row),axis='columns')

# Prep the dataframe so it can be easily transformed into a dictionary
    max_df.drop(columns=['Category','Value'],inplace=True)

    data_type_df = max_df.set_index(['Indicator']).to_dict('index')
# I couldn't find a parameter for .to_dict() that gave me exactly what I wanted--
# namely, a dict where key is Indicator, value is Data Type.
# So build a new dict that has this format, and extract what we need from data_type_df.
    return_dict = {}
    for this_key in data_type_df:
        return_dict[this_key] = data_type_df[this_key]['Data_Type']
    return return_dict

## Restructure the data for each sheet.
### Each row of the data should have the following columns:
1. Category
2. Indicator
3. Metro area
4. Year description (as taken from sheet)
5. Year (integer value only)
6. Value
7. Rank
8. Rank Order
9. Key Indicator
10. Data Type (type of Value; one of: 'Percent','Dollar','Numeric')

In [35]:
def reshape_indicator_sheet(df):
    out_df_columns = ['Category','Indicator','Metro','Year_Desc','Year',
                      'Value','Rank','Rank_Order','Key_Indicator']
    out_df = pd.DataFrame(columns=out_df_columns)
# Cast the type of the numeric columns, so we can run some basic calculations and set 'Data Type'
#    out_df = out_df.astype({'Year': 'Int64', 'Value': 'float', 'Rank': 'Int64', 'Key_Indicator': 'Int64'})

# Capture the index of the RANK row.
# This will help us split the sheet into its values vs. rank halves.
    rank_index = np.where(df[0] == 'RANK')[0][0]
    indicators_sheet = df.iloc[0:rank_index].copy()
    rank_sheet = df.iloc[rank_index:].copy()

# Loop through each city, snag its values and rank info, drop them into the correct columns
    for metro in indicators_sheet[0][3:]:
        city_df = pd.DataFrame(columns=out_df_columns)
        city_category = indicators_sheet.loc[[0]].values[0][0].strip()

# This will fill 'Category' with nulls, but it gives the dataframe the correct length.
# Then, fill it with the actual category name.
        city_df['Category'] = indicators_sheet.loc[[0]].values[0][1:]
        city_df['Category'].fillna(value=city_category,inplace=True)

# Indicator has some values populated, so we can use 'pad' to copy them forward to null rows.
        city_df['Indicator'] = indicators_sheet.loc[[1]].values[0][1:]
        city_df['Indicator'].fillna(method='pad',inplace=True)
        city_df['Indicator'] = city_df['Indicator'].apply(lambda x: x.strip())
        
# If we find Indicator in the KPI dictionary under this Category, this is a Key Indicator
        city_df['Key_Indicator'] = city_df.apply(lambda row: set_key_indc(row['Category'],row['Indicator']),
                                                 axis='columns')

        city_df['Year_Desc'] = indicators_sheet.iloc[2].values[1:]
        city_df['Year'] = city_df['Year_Desc'].apply(lambda x: cleanup_year(x))

        indc_metro_value = np.where(indicators_sheet[0] == metro)[0][0]
        city_df['Metro'] = [metro] * city_df.shape[0]
        city_values = indicators_sheet.iloc[indc_metro_value].values[1:]
        city_df['Value'] = city_values

# Find the index for our current Metro in the rank half of the sheet, and get Rank-related values.
        rank_metro_value = np.where(rank_sheet[0] == metro)[0][0]
        city_df['Rank'] = rank_sheet.iloc[rank_metro_value].values[1:]
        city_df['Rank_Order'] = rank_sheet.iloc[[0]].values[0][1:]
        city_df['Rank_Order'].fillna(method='pad',inplace=True)

# We're done with this city. Append its stats to the big spreadsheet.
        out_df = out_df.append(city_df,ignore_index=True)

    data_type_dict = build_data_type_df(out_df)
    out_df.loc[:,'Data_Type'] = out_df['Indicator'].apply(lambda x: data_type_dict[x])
    return out_df

## Concatenate the restructured output from all of the sheets (minus Key Indicator)

In [36]:
output_df = pd.DataFrame()
for sheet_key in dfs.keys():
    if sheet_key == 'Key Indicators':
        continue
    output_df = output_df.append(reshape_indicator_sheet(dfs[sheet_key]),ignore_index=True)

In [37]:
output_df['Data_Type'].value_counts()

Percent    2364
Numeric     912
Dollar      420
Name: Data_Type, dtype: int64

In [38]:
output_df.describe(include='all')

,Category,Indicator,Metro,Year_Desc,Year,Value,Rank,Rank_Order,Key_Indicator,Data_Type
count,3696,3696,3696,3624,3624,2954,2898,3276,3696,3696
unique,8,60,12,69,11,2123,12,3,2,3
top,Vital Stats,Population With Commutes Less Than 30 Minutes,"Denver-Aurora-Lakewood, CO Metro Area",2016\n(2014 data),2018,0,1,(highest to lowest),0,Percent
freq,804,132,308,240,672,22,261,2124,2724,2364

### Some things to note about the output from .describe() above

* "count" doesn't include null values, so the columns will have differing counts (the counts for Value and Rank in particular are a lot lower than the others). Overall row count makes sense...? I didn't drop rows with null Values, but that's maybe one extra line of code, if that's what the Alteryx solution does.

* All values are all being treated as strings. In Python, I can't convert Nulls to an int or float, so Year/Value/Rank can't be represented as numbers. If any of these columns were numbers, the stats would include numeric summary statistics, like min/max/mean.

* Unique counts helped me determine whether the conversion I performed above was done correctly. 8 Categories, 12 Metros, 11 Years, 12 Ranks, etc. Looks good...?

## Write a CSV file.

In [39]:
output_df.to_csv(file_path + '/greater_msp_data.csv',index=False)